body, html{ 
	margin:0;
	padding:0;
	font-family:  Trebuchet MS, Helvetica, Arial,sans-serif;
	font-weight:300;
}
h1,h2,h3,h4,h5{
	margin: 0px;
	padding: 0px;
}
#navbar{
	margin-top:5px; 
	margin-bottom:5px; 
}
#navbar a{
	padding:3px;
	margin-right:5px; 
	display:inline-block;
	text-decoration:none;
    background:#cee3f8;
    color:black;
}
#navbar a:hover {
	background-color:#eff7ff;
}
.active{
	color:#ff4500!important;
	background-color:#eff7ff!important;
	border: 1px solid #336699;
}

#form{
	margin:auto;
	width:400px;
	margin-top:10px; 
	margin-bottom:10px; 
}
input {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
input:focus {
  outline: none;
}
#content{
    margin:auto;
    width:800px;
    padding:10px;
    height:100%;
}
#user_info{
	height: 120px;
	border-top: #336699 solid 1px;
}
#stats{
	position:absolute;
	border-top: #336699 solid 1px;
	top:0;
	right:0;
	height: 120px;
}
#user_info .loading_gif{
    position:absolute;
}
#stats .loading_gif{
    position:absolute;
}
.half_col{
width:400px;
}
.data_box{
	display: none;
	position: relative;
}
.loading_gif{
    margin:auto;
    width:20%;
    position:absolute;
    left:25%;
}
.button {
    webkit-appearance:none;
	background-color:#ccc;
	border:0px solid #dcdcdc;
	color:#666666;
	font-family:Trebuchet MS;
	font-size:20px;
	font-weight:bold;
	text-decoration:none;
	display: inline-block;
	cursor: pointer;
	padding:5px;
	margin:10px;
	padding-right: 10px;
	padding-left: 10px;
}.button:hover {

}.button:active {
	position:relative;
	background-color:#e6e6e6;	
	top:1px;
}
#ad{
	width:728px;
	margin: auto;
	margin-top: 2px;
	margin-bottom: 10px;
	display: block;
	position: relative;
}
hr{
	background: #336699;
	background-color: #336699;
	color:#336699;
	height: 1px;
	margin-top: 2px;
	margin-bottom: 2px;
}
.graph{
	border:1px solid #336699;
	border: dashed 1px gray;
	padding: 5px;
	
	display: inline-block;
	margin: auto;

}
.bodyText span{
display: block;
margin-top: 2px;
margin-bottom: 5px;

}
#spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -100px;
	height: 200px;
	width: 200px;
	text-indent: 250px;
	white-space: nowrap;
	overflow: hidden;
}
#posts{
	margin:auto;
}
td{
	min-width:30px;
}
button, .button, input[type=submit] {
  border: 0;
  background: #5786c1;
  color: white;
  padding: 8px 14px;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  /* needed for anchors */
  position: relative;
  box-shadow: 1px 0px #3a587f, 0px 1px #4171ae, 2px 1px #3a587f, 1px 2px #4171ae, 3px 2px #3a587f, 2px 3px #4171ae, 4px 3px #3a587f, 3px 4px #4171ae, 5px 4px #3a587f, 4px 5px #4171ae, 6px 5px #3a587f, 5px 6px #4171ae;
}
button:hover, button:focus, button.hover, button.focus, .button:hover, .button:focus, .button.hover, .button.focus, input[type=submit]:hover, input[type=submit]:focus, input[type=submit].hover, input[type=submit].focus {
  transform: translate(2px, 2px);
  box-shadow: 1px 0px #3a587f, 0px 1px #4171ae, 2px 1px #3a587f, 1px 2px #4171ae, 3px 2px #3a587f, 2px 3px #4171ae, 4px 3px #3a587f, 3px 4px #4171ae;
}
button:active, button.active, .button:active, .button.active, input[type=submit]:active, input[type=submit].active {
  transform: translate(4px, 4px);
  box-shadow: 1px 0px #3a587f, 0px 1px #4171ae, 2px 1px #3a587f, 1px 2px #4171ae;
}

body {
  padding: 50px;
  background: white;
}

.col {
  width: 160px;
  float: left;
}